aiohappyeyeballs
aiohttp
aiosignal
alembic
anyio
asttokens
attrs
certifi
charset-normalizer
cloudpickle
colorama
colorlog
comm
contourpy
cycler
datasets
debugpy
decorator
dill
filelock
fonttools
fsspec
gensim
huggingface-hub
idna
imbalanced-learn
joblib
matplotlib
numba
numpy
optuna
pandas
pillow
psutil
pyarrow
PyYAML
regex
requests
scikit-learn
scipy
seaborn
shap
tqdm
torch
torchvision
transformers